.searchWrapper{
    min-width: 11vw;
    padding-bottom: 30px;
    position: relative;
}

.person{
    display: flex;
    align-items: center;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 18px;
    margin: 20px;
}

.person > * {
    margin: 10px;
}

.usernameInput{
    min-width: 90%;
    margin-left: 12px;
    margin-top: 30px;
}

.person img{
    width: 50px;
    height: 50px;
    border-radius: 90px;
    border: 1px solid black;
}

.person button{
    background-color: white;
    color: black;
    border-radius: 8px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 0.9rem;
}

.person button:hover{
    background-color: white;
}

.sendVerifyLink{
    cursor: pointer;
    text-decoration: underline;
    margin-left: 23%;
}

.noResult{
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 22%;
    padding-top: 10px;
}