.content{
    display: flex;
    flex-direction: column;
    min-width: 25vw;
}

.content > * {
    margin: 10px;
}

.content > :first-child{
    align-self: center;
}

.content button:hover{
    background-color: #e45f3f;
}

.descriptionInput{
    min-height: 10rem;
}

.reportStatus{
    align-self: center;
    font-size: 0.8rem;
}

.succesfullReport{
    color: green;
}

.failedReport{
    color: rgb(213, 7, 7);
}