@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins-Regular.ttf);
}

html{
    font-size: 1.3vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #a7a1a1e5;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #a7a1a1e5;
}

.wrapper{
    background-color: #42ceaf;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    font-family: 'Poppins';
}

.elementContener{
    position: relative;
    display: flex;
    color: black;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 12px;
    padding-right: 50px;
    background-color: #f8f8ff;
    height: 40rem;
    width: 65rem;
    filter: drop-shadow(0.5rem 0.5rem 0.6rem black);
}

.app{
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
    right: 20px;
}

.app > :first-child{
    width: 2rem;
    height: 2rem;
}

.outsideSingInBtns{
    display: flex;
}

.outsideSingInBtns > * , .outsideSignUpBtns > *{
    border: none;
    color: white;
    border-radius: 8px;
    align-items: center;
    font-family: 'Poppins';
    background-color: black;
}

.googleBtn , .fbBtn{
    font-size: 1rem;
    height: 3rem;
    width: 11rem;
    color: black;
    background-color: #f8f8ff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}

.googleBtn > :last-child , .fbBtn > :last-child{
    margin-left: 5px;
}

.googleBtn{
    cursor: pointer;
    border: #DB4437 1px solid;
    color: #DB4437;
}

.siteIcon{
    width: 1.5rem;
    height: 1.5rem;
}



.fbBtn{
    cursor: pointer;
    border: #4267B2 1px solid;
    color: #4267B2;
}


